.cases{
	&__title{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 40px;
	}
	.casesSlider{
		@media screen and (min-width:1240px) {
			margin-top: -80px;
		}
	}
	&-slider-wrap{
		padding-top: 117px;
		@media screen and (max-width:1023.9px) {
			display: flex;
			flex-direction: column;
			gap: 135px;
		}
	}
	&-pagination{
		font-family: "Russo One";
		font-size: 40px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 4px;
		.swiper-pagination-current{
			color: $--white;
		}
		.swiper-pagination-total{
			color: $--dark-grey;
		}
		@media screen and (max-width:1023.9px) {
			display: none;
		}
	}
	&__item{
		display: flex;
		gap: 20px;
		flex-direction: column-reverse;
		height: auto;
		max-width: 100%;
		@media screen and (min-width:1240px) {
				flex-direction: row;
				gap: 40px;
			}
		@media screen and (min-width: 768px) and (max-width: 1239.9px) {
				gap: 44px;
			}
		&__info{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: relative;
			background-color: $--primary;
			border-radius: 20px;
			padding: 17px;
			position: relative;
			gap: 50px;
			@media screen and (min-width:1240px) {
				width: 41%;
			}
			@media screen and (min-width:550px) {
				gap: 106px;
				padding: 34px;
				border-radius: 40px;
			}
			
			&::after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background-color: $--accent-color;
				width: 100%;
				height: 100%;
				border-radius: inherit;
				z-index: 0;
				clip-path: url(#myClip3);
				-webkit-clip-path: url(#myClip3);
				mask-size: 95%, 100%;
				mask-position: center;
				mask-repeat: no-repeat;
				@media screen and (min-width:768px) and (max-width:1239.9px) {
					clip-path: url(#myClip2);
				-webkit-clip-path: url(#myClip2);
				}
				@media screen and (min-width:1240px)  {
					clip-path: url(#myClip);
				-webkit-clip-path: url(#myClip);
				}
			}

			&__count{
				position: absolute;
				top: 0px;
				left: 4.9%;
				color: $--white;
				color: #FFF;
				text-align: center;
				font-family: "Russo One";
				font-size: 40px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 8px;
				z-index: 1;
				max-width: 56px;
				max-height: 48px;
				width: 100%;
				height: 100%;
				@media screen and (min-width:1240px) {
					font-size: 80px;
					max-width: 95px;
					max-height: 95px;
					left: 7.9%;
				}
				@media screen and (min-width:550px) {
					top: 26px;
				}
				@media screen and (min-width:1024px) {
					font-size: 80px;
				}
				@media screen and (min-width:768px) and (max-width:1023.9) {
					font-size: 46px;
				}
			}	
			&__category{
				display: flex;
				flex-wrap: wrap;
				gap: 12px;
				justify-content: flex-end;
				margin-left: auto;
				width: fit-content;
				position: relative;
				z-index: 1;
				max-width: 250px;
				width: 100%;
				span{
				display: inline-flex;
				padding: 10px 20px;
				justify-content: center;
				align-items: center;
				gap: 10px;
				border-radius: 80px;
				background-color: $--primary;
				color: $--accent-color;
				font-size: 12px;
				@media screen and (min-width:1024px ) {
					font-size: 18px;
				}
				@media screen and (max-width:1023.9px ) {
					&:not(:nth-of-type(1)){
						display: none;
					}
				}
				}
				
				@media screen and (min-width:768px) and (max-width:1239.9px ) {
					position: absolute;
					top: 34px;
					right: 34px;
				}
				
			}
			&__content{
				position: relative;
				z-index: 1;
				display: flex;
				flex-direction: column;
				gap: 20px;
				color: $--primary;
				@media screen and (min-width:768px) and (max-width:1239.9px) {
				gap: 106px;
			}
				img{
					max-width: fit-content;
					@media screen and (min-width:768px) and (max-width:1239.9px) {
						padding-left: 17%;
					}
					
				}
			
			}
		}
		&__link{
			background-color: $--secondary;
			position: relative;
			border-radius: 40px;
			padding: 135px 16px 16px 16px;
			display: flex;
			align-items: start;
			@media screen and (min-width:1240px) {
				width: 59%;
			}
			@media screen and (min-width:768px) and (max-width:1239.9px) {
			
				padding:364px 34px 34px 34px;
			}
			.btn{
				margin-top: auto;
				background-color: $--secondary;
				position: relative;
				z-index: 1;
				max-width: 156px;
					&:hover{
					background-color: $--white;
					color: $--primary;
					border-color: transparent;
				}
				@media screen and (min-width:768px) {
					max-width: 256px;
				}
			}
			img{
				position: absolute;
				bottom: 0;
				right: 0;
				height: calc(100% + 117px);
				width: 100%;
				max-width: 68%;
				border-radius: 0 0 40px 0;
			}
		}
	}
}