.central{
	margin-bottom: 100px;
		@media screen and (min-width:1240px) {
		margin-bottom: 160px;		
	}
	@media screen and (min-width:1024px) and (max-width:1239.9px) {
margin-bottom: 180px;
	}
	&__container{
		background-color: $--accent-color;
	border-radius: 40px;
	padding: 22px 22px 0 22px;
	color: $--primary;
		overflow: hidden;
	@media screen and (min-width:1240px) {		
		padding:31px 48px 0 48px;
	}
	@media screen and (min-width:1024px) and (max-width:1239.9px) {		
		padding: 32px 32px 0 32px;
	}

	@media screen and (min-width:1024px) {
		border-radius: 80px;
	}
	}
	&__top{
		display: flex;		
		gap: 24px;
		flex-direction: column;
		@media screen and (min-width:1024px) {
			flex-direction: row;
			align-items: baseline;
			justify-content: space-between;
		}
		p{
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 140%;
			@media screen and (min-width:768px) {
				font-size: 18px;
			}
			@media screen and (min-width:1240px) {
				max-width: 422px;
			}
		}
		&__right{
			display: flex;
			flex-direction: column;
			gap: 20px;
			z-index: 3;
			@media screen and (min-width:1024px) {
			
			justify-content: flex-end;
			flex-wrap: wrap;
			flex-direction: row;
			}
			.simple{
				max-width: fit-content;
				text-transform: lowercase;
			}
		}
	}
	&__middle{
		display: flex;
		flex-wrap: wrap;		
		position: relative;
		padding: 12vh 50px 50px 89px;
		width: 100%;
		margin-left: auto;
	
		@media screen and (max-width:1239.9px) {
			padding: 114px 0px 100px 0px;
		}
		@media screen and (max-width:767.9px) {
			padding: 147px 0px 37px 0px;
		}
		@media screen and (max-width:1023.9px) {
			flex-direction: column;
		}
		&__left{
			max-width:481px;
			width: 100%;
			height: fit-content;
			width: 45%;
			position: relative;
		z-index: 1;
	@media screen and (min-width:768px) {
				width: 40%;
			}
		}
		&__right{
			max-width:569px;
			width: 100%;			
			height: fit-content;
			margin-top: 88px;		
			width: 50%;
			margin-left: 14%;
			margin-top: -33px;
			position: relative;
			z-index: 1;
			@media screen and (min-width:1024px) {
				margin-top: 88px;	
				margin-left: auto;
			}
			@media screen and (min-width:768px) {
				width: 47%;
			}
			@media screen and (max-width:767.9px) {
				margin-left: 11%;
    		margin-top: -19px;
			}
			
		}
		.head{
			position: absolute;
			bottom: -13px;
			max-width: 481px;
			max-height: 512px;
			display: flex;
			align-items: center;
			justify-content: center;
			// aspect-ratio: 481 / 512;
			z-index: 0;
			@media screen and (min-width:1240px) {
					bottom: -54px;
			}
			@media screen and (max-width:1239.9px) {
					bottom: -13px;
					left: 48%;
			}
			@media screen and (min-width:1024px) {
				left: 50%;
				transform: translateX(-50%);
				z-index: 2;
			}
			@media screen and (max-width:1023.9px) {
					bottom: -13px;
					left: inherit;
					right: -80px;
			}
			@media screen and (max-width:767.9px) {
					max-width:385px;
			max-height:410px;
			}
		}
	}
	&__bottom{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		gap: 20px;
		z-index: 3;
		position: relative;
		@media screen and (min-width:1024px) {
			flex-direction: row;
			
		}
		&__socials{
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 30px;
			a{
				max-width: 36px;
				max-height: 36px;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: .3s ease-in-out;
				@media screen and (min-width:768px) {
					max-width: 48px;
					max-height: 48px;
				}
				&:hover{
					transform: scale(1.1);
				}
				svg{
					width: 22px;
					height: 22px;
					@media screen and (min-width:768px) {
					width: 29px;
					height: 29px;
				}
				}
				
			}
		}
		&__link{
			display: none;
			z-index: 3;
			@media screen and (min-width:1024px) {
				padding-bottom: 38px;
				display: block;
				
			}
			a{
				display: flex;
				align-items: center;
				justify-content: center;
				max-width: 112px;
				max-height: 112px;
				width: 100%;
				height: 100%;
				overflow: hidden;
				border-radius: 50%;
				&:hover{
					svg path:nth-of-type(1) {
					animation: arrowInCentral 0.8s ease-in-out  1 normal both;
					}
					svg path:nth-of-type(2) {
						animation: arrowOutCentral 0.8s ease-in-out 0.2s 1 normal both;
					}
				}
			}
			svg{
			width: 100%;
			height: 100%;
				path {
					transition:transform 1s ease-in-out;
					&:nth-of-type(1) {
					transform: translate(0%, 0%);
					}
					&:nth-of-type(2) {
						transform: translate(45%, -45%); 
					}
				}
			}
			
		}
		&__btn{
			background-color: $--primary;
			border-radius: 60px 60px 0 0;
			padding: 15px 19px 0 19px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: auto;
			max-width: fit-content;
			@media screen and (min-width:1024px) {
				border-radius: 80px 80px 0 0;
			}
			@media screen and (max-width:767.9px) {
				width: 100%;
				padding: 10px 10px 0 10px;
			}
			@media screen and (max-width:576px) {
				max-width: fit-content;
			}
			@media screen and (max-width:429.9px) {
				border-radius: 40px 40px 0 0;
			}
			&:before{
				content: '';
				position: absolute;
				width: 40px;
				height: 50%;
				bottom: -4px;
				left: -34px;
				z-index: 1;
				background-image: url('../images/Subtract-test.svg');
				background-size: 100% 100%;
				background-repeat: no-repeat;
				@media screen and (min-width:1024px) {
					left: -38px;
				}
				@media screen and (max-width:429.9px) {
					left: -30px;
				}
			}
			&::after{
				content: '';
				position: absolute;
				width: 40px;
				height: 50%;
				bottom: -4px;
				right: -34px;
				z-index: 1;
				background-image: url('../images/Subtract-test-right.svg');
				background-size: 100% 100%;
				background-repeat: no-repeat;
				@media screen and (min-width:1024px) {
					right: -38px;
				}
				@media screen and (max-width:429.9px) {
					right: -30px;
				}
			}
			.btn{
				padding: 26px;
				max-width: 234px;
				@media screen and (max-width: 429.9px) { 
					padding: 22px 15px;
					max-width: 200px;
				}
				@media screen and (min-width:1024px) {		
						padding: 32px;
						width: 100%;
						max-width: 375px;
				}
				@media screen and (min-width:768px) and (max-width:1023.9px){
					max-width: min-content;
				}
								span{
					max-width: 80%;
				}
			}
		}
	}
	
}
@keyframes arrowOutCentral {
	0% {
    transform: translate(45%, -45%);
}

100% {
    transform: translate(0, 0);
}
}
@keyframes arrowInCentral {
0% {
    transform: translate(0px, 0px);
}
100% {
    transform: translate(-45%, 45%);
}
}