.idea{
	&__container{
		background-color: $--secondary;
		padding: 32px 22px;
		border-radius: 40px;
		display: flex;
		flex-direction: column;
		gap: 45px;
		@media screen and (min-width:768px) {
			padding: 48px;
			border-radius: 80px;
		}
		@media screen and (min-width:1240px){
			gap: 0px;
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
	&__title{
		@media screen and (min-width:1240px) {
			width: 53%;
			height: fit-content;
			padding-right: 63px;
		}
		h2{
			text-align: start;
		}
		span{
			margin-bottom: 28px;
			@media screen and (min-width:1024px) {
				margin-bottom: 44px;
			}
		}
	}
	& .btn{
		border-radius: 100px;
		max-width: fit-content;
		padding: 40px 50px;
		font-size: 16px;
		color: $--white;
		width: 46%;
		@media screen and (min-width:1240px) {
			width: 46%;
			margin-top: -8%;
		}
		&:hover{
			color: $--primary;
		}
	}
	&__items{
		display: flex;
		flex-direction: column;
		gap: 32px;
		@media screen and (min-width:1240px) {
			width: 45.5%;
			height: 587px;
			overflow: hidden;
			overflow-y: auto;
					scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
&::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}
		}

	}
	&__item{
		display: flex;
		flex-direction: column;
		gap: 20px;
		@media screen and (min-width:768px) {
			gap: 32px;
		}
		&__top{
			display: flex;
			align-items: center;
			gap: 32px;
			flex-direction: column;
			@media screen and (min-width:768px) {
				flex-direction: row;
			}
		}
		&__count{
			display: flex;
			align-items: center;
			max-width: 130px;
			width: 100%;
			span{
				background-color: $--accent-color;
				color: #000;
				position: relative;
				z-index: 0;
				border-radius: 50%;
				text-align: center;
				font-family: "Russo One";
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 1.8px;
				min-width: 54px;
				min-height: 54px;
				display: flex;
				align-items: center;
				justify-content: center;

			}
			img{
				margin-left: -20px;
				width: 82px;
				height: 82px;
				position: relative;
				z-index: 1;
			}
		}
		&__promo{
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 140%; /* 19.6px */
			letter-spacing: 1.4px;
			text-transform: uppercase;
			font-family: 'NauryzRedKeds', sans-serif;
			@media screen and (min-width:768px) {
				font-size: 20px;
				letter-spacing: 2px;
			}
			strong{
				color: $--accent-color;
			}
		}
		&__bottom{
			color: $--light-grey;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 140%;
		}
	}
}