@mixin titleH1{
	// color: $--green;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 110%;
	@media screen and (min-width:768px){
		font-size: 40px;
	}
}
@mixin titleH2{
	// color: $--green;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 110%; 
@media screen and (min-width:768px){
	font-size: 34px;
}
}

@mixin titleH3{
	// color: $--green;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 110%;
@media screen and (min-width:768px){
	font-size: 28px;
}
} 
@mixin titleH4{
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	@media screen and (min-width:768px){
		font-size: 24px;
	}
}
@mixin titleH5{
	font-style: normal;
	font-weight: 700;
	line-height: 120%; 
	font-size: 18px;
	letter-spacing: -0.18px;
	@media screen  {
		font-size: 20px;
		letter-spacing: -0.2px;
	}
}