.popup{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s linear;
	background: rgba(0, 0, 0, 0.70);
	 @media screen and (max-width:767px) {
		padding-top: 20px;
	 }
}
.open-popup .popup {
	opacity: 1;
	visibility: visible;
}
.popup-bg{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.popup-wrapper{
	height: 100%;
    overflow-y: auto;
    text-align: center;
    position: relative;
		transition: 0.5s linear;
		&::after {
			content: "";
			display: inline-block;
			height: 100%;
			vertical-align: middle;
	}
}
.popup__top{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 31px;
	@media screen and (min-width:768px) {
		margin-bottom: 94px;
	}
	div{
		@include titleH3;
		color: $--accent-color;
		text-align: center;
		text-transform: uppercase;
	}
	p{
		color: $--light-grey;
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: 140%;
		text-transform: uppercase;
		text-align: center;
		@media screen and (min-width:768px) {
			font-size: 20px;
		}
		strong{
			color: $--white;
			font-weight: 300;
		}
	}
	
}

.popup-wrap{
		vertical-align: middle;
    text-align: left;
    display: inline-block;
		gap: 5px;
		padding: 48px 20px 0 20px;
		opacity: 1;
		z-index: 2;
		max-width: 798px;
		position: relative;
		width: 90vw;
		border-radius: 80px;

		&:after{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-image: url('../images/conacts-bg_mob.svg');
			z-index: -1;
			@media screen and (min-width:768px) {
				background-image: url('../images/_contacts-img_desc.svg');
			}
		}

		

}
.popup .btn{
	margin: auto;
	min-width: fit-content;
	@media screen and (min-width:768px) {
		max-width: 46%;
		width: 100%;
	}
	@media screen and (min-width:430px) {
		min-width: 234px;
	}
}