.prime{
	margin-bottom: 80px;
	@media screen and (min-width:768px) {
		margin-bottom: 120px;
	}
	&__img{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 25px;
		@media screen  and (min-width:1240px){
			margin-bottom: 44px;
		}
		@media screen  and (min-width:1024px) and (max-width:1239.9px){
			margin-bottom: 30px;
		}
		img{
			max-width: 872px;
			max-height: 529px;
			width: 100%;
			height: 100%;
		}
	}
	&__content{
		background-color: $--accent-color;
		border-radius: 20px;
		padding: 22px 22px 0 22px;
		color: $--primary;
		display: flex;
		flex-wrap: wrap;
		gap: 28px;
		@media screen and (min-width:1024px) {			
			padding: 34px 34px 0 34px;
			gap: 25px 40px;
			border-radius: 40px;
		}
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
			row-gap: 0;
		}
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 140%;
			@media screen and (min-width:1024px) {
				font-size: 18px;
			}
		
	}
	&__simple{
		font-size: 12px;
		font-style: normal;
		font-weight: 300;
		line-height: 140%;
		margin-bottom: 12px;
		display: inline-block;
		@media screen and (min-width:768px) {
			font-size: 18px;
			margin-bottom: 18px;
		}	
	}
	&__brand{		
		width: 100%;
		@media screen and (min-width:1240px) {
			width: 42%;
		}
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
			width:55%;
		}
		@media screen and (max-width:1023.9px) {
			order: 1;
		}
		img{
			max-width: 183px;
			max-height: fit-content;
			width: 100%;
			height: 100%;
			margin-bottom: 16px;
			@media screen and (min-width:768px) {
					max-width: 332px;
						margin-bottom: 20px;
			}
		}
		p{
			font-weight: 400;
		}
	}
	&__command{
		display: flex;
		flex-direction: column;	
		width: 100%;	
		@media screen and (min-width:1240px) {
			width: 53%;
		}
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
			width:30%;
			align-items: flex-end;
			margin-left: auto;
		}
		@media screen and (max-width:1023.9px) {
			order: 3;
		}
		ul{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 12px;
			@media screen and (min-width:1024px) and (max-width:1239.9px) {
			flex-direction: column;
				align-items: flex-end;

		}
			li{
				padding: 10px 20px;
				border-radius: 80px;
				border: 2px solid #000;

			}
		}
	}
	&__direction{
		display: flex;
		gap: 33px;
		flex-direction: row;
		width: 100%;
		@media screen and (min-width:1240px) {
			width: 40%;
			gap: 40px;
			flex-direction: row;
		}
		@media screen and (min-width:1024px) {
			padding-bottom: 34px;			
		}
		@media screen and (min-width:1024px) and (max-width:1239.9px) {
			gap: 40px;
			flex-direction: column;
			width: fit-content;
		}
		@media screen and (max-width:1023.9px) {
			order: 2;
		}
		@media screen and (max-width: 370px) {
			flex-wrap: wrap;
		}
		&__item{
			display: flex;
			flex-direction: column;
			gap: 12px;
			@media screen and (min-width:768px) {
				gap: 18px;
			}
			span{
				font-weight: 400;
			}
			span:not([class]){
				font-size: 14px;
				font-weight: 400;
				@media screen and (min-width:768px) {
					font-size: 24px;
				}
			}
			& .simple {
				text-transform: lowercase;
			}
		}
	}
	&__btn{
		margin:  0 auto;
		width: fit-content;
		position: relative;
			background-color: $--primary;
			border-radius: 60px 60px 0 0;
			padding: 20px 20px 0 20px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			@media screen and (min-width:1024px) {
				border-radius: 80px 80px 0 0;
			}
			@media screen and (max-width:767.9px) {
				max-width: fit-content;
				width: 100%;
				padding: 10px 15px 0 15px;
			}
			@media screen and (max-width:429.9px) {
				border-radius: 40px 40px 0 0;
				padding: 10px 10px 0 10px;
			}
				@media screen and (max-width:1023.9px) {
			order: 4;
		}
		@media screen and (min-width:1024px) {
			margin-left: auto;
			margin-top: auto;
			margin-right: 40px;
		}
			&:before{
				content: '';
				position: absolute;
				width: 40px;
				height: 50%;
				bottom: -3px;
				left: -32px;
				z-index: 1;
				background-image: url('../images/Subtract-test.svg');
				background-size: 100% 100%;
				background-repeat: no-repeat;
				@media screen and (min-width:1024px) {
					left: -32px;
				}
				@media screen and (max-width:429.9px) {
					left: -30px;
				}
			}
			&::after{
				content: '';
				position: absolute;
				width: 40px;
				height: 50%;
				bottom: -3px;
				right: -32px;
				z-index: 1;
				background-image: url('../images/Subtract-test-right.svg');
				background-size: 100% 100%;
				background-repeat: no-repeat;
				@media screen and (min-width:1024px) {
					right: -32px;
				}
				@media screen and (max-width:429.9px) {
					right: -28px;
				}
			}
			.btn{
				padding: 26px;
				max-width: 234px;
				@media screen and (min-width:920px) {
					max-width: 375px;
						padding: 32px;
						width: 100%;
				}
				@media screen and (max-width:429.9px) {
					padding: 22px 15px;
				}
				span{
					max-width: 80%;

				}
			}
	}
}