@font-face {
	font-family: 'NauryzRedKeds';
	src: url(../fonts/NAURYZREDKEDS.TTF);
}
@font-face {
	font-family: 'Stolzl';
	src: url(../fonts/STOLZL_THIN.OTF);
	font-weight: 100;
}
@font-face {
	font-family: 'Stolzl';
	src: url(../fonts/STOLZL_BOOK.OTF);
	font-weight: 300;
}
@font-face {
	font-family: 'Stolzl';
	src: url(../fonts/STOLZL_REGULAR.OTF);
	font-weight: 400;
}
@font-face {
	font-family: 'Stolzl';
	src: url(../fonts/STOLZL_MEDIUM.OTF);
	font-weight: 500;
}
@font-face {
	font-family: 'Stolzl';
	src: url(../fonts/STOLZL_BOLD.OTF);
	font-weight: 700;
}

@font-face {
	font-family: "Russo One";
	src: url(../fonts/RussoOne-Regular.ttf);
	font-weight: 300;
}

$--primary:#151515;
$--secondary:#242424;
$--dark-grey:#262626;
$--grey:#636363;
$--light-grey:#7D7D7D;
$--grey-3:#9C9C9C;
$--accent-color:#BAF67C;
$--white:#FFF;


html.open-popup{
	overflow: hidden;
}

.container{
	max-width: 1472px;
	padding: 0 20px;
	width:100%;
	margin: 0 auto;
	@media screen and (min-width:1512px) {
		padding: 0 40px;
		max-width: 1512px;
	}
	@media screen and (min-width:1024px) and (max-width:1511.9px){
		padding: 0 26px;
		max-width: 1484px;
	}
}
body{
	background-color: $--primary;
	font-family: 'Stolzl', sans-serif;
	font-size: 18px;
	font-weight: 300;
	font-style: normal;
	line-height: normal;
	color: $--white;
}


.btn{
	display: flex;
	max-width: 375px;
	padding: 26px 22px;
	max-height: fit-content;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 80px;
	border: 3px solid transparent;
	background-color: #FFF;
	color: $--primary;
	text-align: center;
	font-family: 'NauryzRedKeds';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	transition: .3s ease-in-out;
	
	&:hover{
		border-color:$--accent-color;
	background-color: $--primary;
	color: $--accent-color;
	}
	@media screen and (min-width:920px) {
		font-size: 20px;
		letter-spacing: 2px;
		padding: 29.5px 20.5px;
	}
}
.btn-secondary{
	border-radius: 100px;
	border: 3px solid $--accent-color;
	background-color: transparent;
	color: $--accent-color;
	max-width: 256px;
	padding: 20px 24px;
	font-size: 12px;
	letter-spacing: 1.2px;
	@media screen and (min-width:1024px) {
		padding: 36px 44px;
		font-size: 16px;
		letter-spacing: 2px;
		font-size: 20px;
		letter-spacing: 2px;
	}
	&:hover{
		background-color: $--white;
		color: $--primary;
		border-color: transparent;
	}
}

// .scroll{
// 	width: 100%;
// 	overflow: hidden;
// 	overflow-x: auto;
// }

.mb-s{
	margin-bottom: 150px;
	@media screen and (min-width:768px) {
		margin-bottom: 180px;
	}
}
.mb-m{
	margin-bottom: 200px;
	@media screen and (min-width:768px) {
		margin-bottom: 260px;
	}
}
.mb-l{
	margin-bottom: 200px;
	@media screen and (min-width:768px) {
		margin-bottom: 290px;
	
	}
}
.justify-title{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	text-align: left;
}
.simple{
	display: inline-flex;
	padding: 10px 20px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 80px;
	background-color: $--primary;
	color: $--accent-color;
	font-size: 12px;
	@media screen and (min-width:1024px ) {
		font-size: 18px;
	}
}
.term{
			display: inline-block;
			color: $--grey;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: 1.2px;
			@media screen and (min-width:768px) {
				font-size: 18px;
				letter-spacing: 1.8px;
			}
		
}
.price{
	color: $--accent-color;
			font-family: 'NauryzRedKeds';
			font-size: 12px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 1.2px;
			span{
				font-size: 14px;
				letter-spacing: 1.4px;
					@media screen and (min-width:768px) {
				font-size: 22px;
			letter-spacing: 2.2px;
			}
			}
			@media screen and (min-width:768px) {
				font-size: 20px;
			letter-spacing: 2px;
			}
}
.fancy{
	&__items{
				display: flex;
		flex-wrap: wrap;
		gap: 24px;
		@media screen and (min-width:768px) {
			gap: 40px;
		}
	}
	&-bg{
			background-color: $--secondary;
			border-radius: 20px;
			position: relative;
			width: 100%;
			padding: 18px;
			display: flex;
			flex-wrap: wrap;
			transition: .3s linear;
			min-height: 212px;
			border:3px solid transparent;
			@media screen and (min-width:1240px) {
				width: calc(50% - 20px);
				flex-grow:1 ;
				border-radius: 40px;
			}	
			@media screen and (min-width:576px) {
				min-height: 378px;
			}	
			@media screen and (min-width:768px) {
				padding: 34px;
			}	
			&.process__item{
			@media screen and (min-width:576px) {
				min-height: 298px;
			}	
			}
			h3{
				strong{
					color: $--accent-color;
					font-weight: 400;
				}
			}


	&:hover{
	border-color: $--accent-color;
	.fancy-bg__variation{
		@media screen and (min-width:1024px) {
			background-image: url('../images/desk3.svg');
		}
		background-image: url('../images/mob.svg');
	}
	
	}
	
	&__variation{
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		z-index: 2;
		bottom: -3.1px;
		right: -3.2px;
		background-image: url('../images/mob1.svg');
		background-size: 100% auto;
		background-size: 100% 109%;
		background-repeat: no-repeat;
		transition: .3s linear;
		will-change: background-image;
		width: 62px;
		height: 62px;
		width: 127px;
		height: 106px;
		overflow: hidden;
		text-align: center;
		font-family: "Russo One";
		font-size: 40px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 4px;
	@media screen and (min-width:1024px) {
		width: 112px;
		height: 112px;
		width: 232px;
		height: 211px;
		padding: 15px 40px 0px 36px;
		background-image: url('../images/desktop1.svg');
	}
	@media screen and (min-width:1024px) {
		font-size: 80px;
		letter-spacing: 8px;
	}
	text-align: right;
	span{
		margin-left: 33px;
		margin-top: 32px;
		@media screen and (min-width:1024px) {
		margin-left: auto;
	}
	}
	a,div{
		width: 62px;
		height: 62px;
		border-radius:50%;
		background-color: transparent;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 36px;
		margin-left: 36px;
		@media screen and (min-width:1024px) {
			width: 112px;
			height: 112px;
			margin-left: 47px;
			margin-top: 33px;
		}
	}
	img{
		position: absolute;
		bottom: 10px;
		right: 0;
		max-width: 190px;
		max-height: 171px;
		width: 100%;
		height: 100%;
		max-width: 99.622px;
		max-height: 88.086px;
		@media screen and (min-width:1024px) {
			max-width: 190px;
			max-height: 171px;
		}
	}
	}
}
&-content{
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	z-index: 1;
	&__title{
		display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				margin-bottom: 18px;
				@media screen and (min-width:1240px) {
					margin-bottom: 20px;
				}
				@media screen and (min-width:768px) and (max-width:1239.9px) {
					margin-bottom: 35px;
				}
				@media screen and (max-width:360px) {
					flex-wrap: wrap;
					word-break: break-all;
				}
				h3{
						text-transform: uppercase;
					}
				div{
					border-radius: 44px;
					background: $--accent-color;
					color: #000;
					padding: 10px 12px;
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					@media screen and (min-width:576px) {
						font-size: 18px;
					}
					
				}
	}
	&__info{
		display: flex;
		flex-direction: column;
		height: auto;
		flex-grow: 1;
		position: relative;
			width: 73%;
			ul{
			display: flex;
			flex-wrap: wrap;
			gap: 6px;
			list-style: none;
			padding: 0;
			margin: 0;
			counter-reset: count;
			font-family: sans-serif;
			width: fit-content;
				@media screen and (min-width:768px) {
					gap: 16px;
				}
			.clipAll & {
				width: 100%;
				justify-content: space-between;
				li{
					width: fit-content;
				}
			}
				
			li {
				counter-increment: count;
				position: relative;
				padding-left: 30px;
				color: $--white;
				width: 100%;
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 1.2px;
				
			@media screen and (min-width:768px) {
				font-size: 16px;
				letter-spacing: 1.6px;
			}
				@media screen and (min-width:768px) {
				padding-left: 50px;
			}
				 &::before {
				content: counter(count, decimal-leading-zero);
				position: absolute;
				left: 2.5px;
				top: 50%;
				transform: translateY(-50%);
				font-size: 12px;
				color: inherit;
				z-index: 1;		
				font-family: "Russo One";
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 1.2px;
				text-transform: uppercase;	
				@media screen and (min-width:768px) {
					font-size: 20px;
						letter-spacing: 2px;
				}
			}
				&::after {
				content: "";
				position: absolute;
				left: 0;
				top: 45%;
				width: 19px;
				height: 11px;
				background: url('../images/green-line.svg') center center / cover no-repeat;
				z-index: 0;
			@media screen and (min-width:768px) {
			width: 34px;
			}
			}
			}
			
		}
	}
	
}
}
.fancy__list{
	&__items{
		display: flex;
		flex-direction: column;
		gap: 32px;
	}
	&__item{
		display: flex;
		flex-direction: column;
		gap: 20px;
		@media screen and (min-width:768px) {
			gap: 32px;
		}
		&__top{
			display: flex;
			gap: 12px;
			flex-direction: column;
			@media screen and (min-width:768px) {
				flex-direction: row;
				align-items: center;
				gap: 32px;
			}
			
		}
		&__count{
			display: flex;
			align-items: center;
			max-width: 130px;
			width: 100%;
			span{
				background-color: $--accent-color;
				color: #000;
				position: relative;
				z-index: 0;
				border-radius: 50%;
				text-align: center;
				font-family: "Russo One";
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 1.8px;
				min-width: 54px;
				min-height: 54px;
				display: flex;
				align-items: center;
				justify-content: center;

			}
			img{
				margin-left: -20px;
				width: 82px;
				height: 82px;
				position: relative;
				z-index: 1;
			}
		}
		&__promo{
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 140%; /* 19.6px */
			letter-spacing: 1.4px;
			text-transform: uppercase;
			font-family: 'NauryzRedKeds', sans-serif;
			@media screen and (min-width:768px) {
				font-size: 20px;
				letter-spacing: 2px;
			}
			strong{
				color: $--accent-color;
			}
		}
		&__bottom{
			color: $--light-grey;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 140%;
			@media screen and (min-width:768px) {
				font-size: 18px
			}
		}
	}
}