.solutions{
	overflow: hidden;
	padding-bottom: 140px;
  position: relative;
height: auto;

			position: relative;
	&__wrap{
position: relative;
	}
	&__items{
		display: flex;
		-ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
	gap: 25px;
	 height: 100%;
	@media screen and (min-width:1024px) {
		gap: 40px;
	}
	}
	&__item{
		max-width: 300px;
		max-height: 300px;
		width: 100%;
		flex-grow: 1;
		background-color: $--secondary;
		border-radius: 12.346px;
		height: auto;
		flex: 0 0 auto;
  flex-shrink: 0;
		@media screen and (min-width:768px) {
			max-width: 500px;
			max-height: 500px;
			min-height: 500px;
		}
		img{
			width: 100%;
			height: 100%;
			border-radius: inherit;
			max-width: 300px;
			max-height: 300px;
			@media screen and (min-width:768px) {
			max-width: 500px;
			max-height: 500px;
		}
		}
	}
}

