.why{
	&__container{
		border-radius: 40px;
		background-color: $--secondary;
		padding: 32px 22px;
		@media screen and (min-width:768px) {
			border-radius: 80px;
			padding: 48px;
		}
	}
	&__title{
		.term, h2{
			margin-bottom: 28px;
			@media screen and (min-width:768px) {
				margin-bottom: 44px;
			}
		}
		h2{
			@include titleH3;
			text-align: left;
				@media screen and (min-width:768px) {
				max-width: 869px;
				text-wrap-style:balance;
			}
		}
	}
	&__items{
		gap: 32px 60px;
		@media screen and (min-width:1240px) {
			display: grid;
		grid-template-columns: repeat(2, 1fr);
		}
	}
}